* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

html {
    min-height: 100vh;
}

body {
    background-color: $colorG9;
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $colorG0;
}
