// material icon
.material-icons {
    font-size: $fontSize;
    line-height: 1;
    width: 1em;
    border-radius: 50%;
}

// swiper
.swiper-container {
    width: calc(100% + #{$space * 2});
    height: 300px;
    margin: -$space;
    padding: $space;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    transition-timing-function: $easingStandard;
}