.accordion {
    .accordion__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $colorG9;
    }
    .accordion__head-content {
        padding: 0 1em;
    }
    .accordion__head-control {
        padding: 1em 1em 1em 0;
    }
    .accordion__icon {
        transition: transform $duration2 0.125s $easingSharp;
    }
    .accordion__body {
        height: auto;
        padding: 1em;
        opacity: 1;
        overflow: hidden;
        transition: padding $duration3 0s $easingStandard, opacity $duration3 0s $easingAcceleration;
    }
}

.accordion.accordion_is_closed {
    .accordion__icon {
        transform: rotate(180deg);
    }
    .accordion__body {
        height: 0;
        padding: 0 1em;
        opacity: 0;
    }
}
