.appender {
    .appender__area {}
    .appender__trigger {}
    .appender__trigger.appender__trigger_is_disappeared {
        display: none;
    }
    .appender__appended-item {
        opacity: 1;
        transition: opacity $duration2 0s $easingAcceleration;
    }
    .appender__appended-item.appender__appended-item_is_disappeared {
        opacity: 0;
    }
}
