@mixin button {
    display: inline-block;
    padding: 0.5em 1em;
    border-width: 1px;
    border-style: solid;
    border-radius: $round;
    font-weight: bold;
    box-shadow: $shadow1;
    user-select: none;
    cursor: pointer;
}

.filled-button {
    @include button;
    background-color: $colorPrimary;
    border-color: $colorPrimary;
    color: $colorG10;
    transition: background-color $duration1 0s $easingSharp, border-color $duration1 0s $easingSharp;
    .filled-button__icon {
        background-color: $colorG10;
        color: $colorPrimary;
    }
}

.filled-button:hover,
.filled-button:focus {
    background-color: $colorPrimaryVivid;
    border-color: $colorPrimaryVivid;
    .filled-button__icon {
        color: $colorPrimaryVivid;
    }
}

.filled-button:active {
    opacity: 0.9;
}

.bordered-button {
    @include button;
    background-color: $colorG10;
    border-color: $colorPrimary;
    color: $colorPrimary;
    transition: background-color $duration2 0s $easingSharp, border-color $duration2 0s $easingSharp, color $duration2 0s $easingSharp;
}

.bordered-button:hover,
.bordered-button:focus {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
    color: $colorG10;
}

.bordered-button:active {
    opacity: 0.9;
}
