.fade-in {
    transform: translateY(0);
    opacity: 1;
    transition: transform $duration3 0s $easingAcceleration, opacity $duration3 0s $easingAcceleration;
}

.fade-in.fade-in_is_disappeared {
    transform: translateY($fadeInDistance);
    opacity: 0;
}
