.floating-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorG10;
    box-shadow: $shadow3;
    transform: translateY(0%);
    z-index: $zIndexFloatingNavigation;
    transition: transform $duration2 0s $easingStandard;
    .floating-navigation__left {
        padding: 0 1em;
    }
    .floating-navigation__right {
        padding: 1em 1em 1em 0;
    }
}

.floating-navigation.floating-navigation_is_disappeared {
    box-shadow: $shadow0;
    transform: translateY(-100%);
}
