.form-content {
    display: flex;
    align-items: center;
    .form-content__input {}
    .form-content__status {
        position: relative;
        display: inline-block;
        height: $fontSizeLarge;
        width: $fontSizeLarge;
    }
    .form-content__status::after {
        content: "";
        position: absolute;
        margin-left: $spaceHalf;
        display: inline-block;
        font-family: 'Material Icons';
        font-size: $fontSizeLarge;
        line-height: 1;
        transition: color $duration2 0s $easingSharp;
    }
    .form-content__input:invalid+.form-content__status::after {
        content: "\E000";
        color: $colorError;
    }
    .form-content__input:valid+.form-content__status::after {
        content: "\E86C";
        color: $colorSuccess;
    }
}
