.form {
    .form__item-group {
        display: flex;
    }
    .form__item-group+.form__item-group {
        margin-top: $spaceDouble;
    }
    .form__label {
        align-self: flex-start;
    }
    .form__label+.form__content {
        margin-left: $space;
    }
    .form__content {
        align-self: center;
    }
    .form__content+.form__information {
        margin-left: $spaceHalf;
    }
    .form__information {
        align-self: center;
    }
}
