.loader {
    display: block;
    position: relative;
    width: $loaderSize;
    height: $loaderSize;
    border-top: $loaderBorderWidth solid $colorPrimaryLight;
    border-right: $loaderBorderWidth solid $colorPrimaryLight;
    border-bottom: $loaderBorderWidth solid $colorPrimaryLight;
    border-left: $loaderBorderWidth solid $colorPrimaryVivid;
    font-size: 0;
    border-radius: 50%;
    opacity: 1;
    animation: spin 0.5s infinite $easingAcceleration;
    transition: opacity $duration1 0s $easingAcceleration;
}

.loader:focus {
    outline: none;
}

.loader.loader_is_hidden {
    width: 0;
    height: 0;
    border-width: 0;
    opacity: 0;
}
