.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateX(0) translateY(0) scaleX(1) scaleY(1);
    overflow: hidden;
    background-color: $colorG0Transparent;
    z-index: $zIndexModal;
    .modal__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70vh;
        border-radius: $round;
        background-color: $colorG10;
        box-shadow: $shadow1;
        overflow: auto;
        opacity: 1;
        transform: scale(1);
        transform-origin: top center;
    }
}

.modal.modal_is_hidden {
    opacity: 0;
    transform: translateX(0) translateY(-100%) scaleX(1) scaleY(0);
    .modal__content {
        opacity: 0;
        transform: scale(0);
    }
}

.modal.modal_with_open-transition {
    .modal__content {
        transition: transform $duration3 0s $easingStandard;
    }
}

.modal.modal_with_close-transition {
    transition: opacity $duration2 0s $easingSharp, transform 0s $duration2 $easingSharp;
}
