@mixin text-field {
    display: inline-block;
    padding: 0.5em 1em;
    border-width: 1px;
    border-style: solid;
    border-radius: $round;
    box-shadow: $shadow1;
    outline: none;
}

.text-field {
    @include text-field;
    max-width: 100%;
    border-color: $colorG9;
    transition: border-color $duration1 0s $easingSharp, background-color $duration1 0s $easingSharp;
}

.text-field:invalid {
    border-color: $colorError;
    background-color: $colorErrorLight;
}

.text-field:valid {
    border-color: $colorSuccess;
    background-color: $colorSuccessLight;
}

.text-field:hover,
.text-field:focus {
    border-color: $colorPrimary;
}
