.tooltip {
    position: relative;
    .tooltip__content {
        position: absolute;
        left: 0;
        top: 100%;
        display: block;
        width: 0;
        height: 0;
        padding: 0;
        background: $colorG10;
        box-shadow: $shadow2;
        font-size: $fontSizeSmall;
        opacity: 0;
        overflow: hidden;
        z-index: $zIndexTooltip;
        transition: opacity $duration1 0s $easingAcceleration;
    }
}

.tooltip:hover,
.tooltip:focus {
    .tooltip__content {
        width: auto;
        height: auto;
        padding: $spaceHalf;
        opacity: 1;
    }
}
