$basePixel: 6px; // only use valiable.scss
$fontFamily: "Noto Sans Japanese";
// structure
$fontSizeSmall: $basePixel * 2;
$fontSize: $basePixel * 3;
$fontSizeLarge: $basePixel * 4;
$lineHeight: 1.5;
$spaceHalf: $basePixel * 1;
$space: $basePixel * 2;
$spaceDouble: $basePixel * 4;
$round: $basePixel / 2;
$loaderBorderWidth: $basePixel / 2;
$loaderSize: $basePixel * 6;
$fadeInDistance: $basePixel * 4;
// z-index
// swiper.cssでz-indexの指定あり。.swiper-container { z-index:1 };
$zIndexTooltip: 1;
$zIndexFloatingNavigation: 1;
$zIndexModal: 1;
// skin
$huePrimary: 204;
$colorPrimary: hsla($huePrimary, 64%, 48%, 1);
$colorPrimaryVivid: hsla($huePrimary, 100%, 48%, 1);
$colorPrimaryLight: hsla($huePrimary, 64%, 96%, 1);
$colorPrimaryTransparent: hsla($huePrimary, 64%, 48%, 0.5);
$colorSuccess: hsla(144, 64%, 48%, 1);
$colorSuccessVivid: hsla(144, 100%, 48%, 1);
$colorSuccessLight: hsla(144, 64%, 96%, 1);
$colorSuccessTransparent: hsla(144, 64%, 48%, 0.5);
$colorError: hsla(0, 64%, 48%, 1);
$colorErrorVivid: hsla(0, 100%, 48%, 1);
$colorErrorLight: hsla(0, 64%, 96%, 1);
$colorErrorTransparent: hsla(0, 64%, 48%, 0.5);
$colorG0: hsla(0, 0%, 0%, 1);
$colorG1: hsla(0, 0%, 10%, 1);
$colorG9: hsla(0, 0%, 90%, 1);
$colorG10: hsla(0, 0%, 100%, 1);
$colorG0Transparent: hsla(0, 0%, 0%, 0.5);
$colorG10Transparent: hsla(0, 0%, 100%, 0.5);
$shadow0: 0 0 0 0 rgba(0, 0, 0, 0);
$shadow1: 0 $basePixel / 4 $basePixel / 4 - 1 0 rgba(0, 0, 0, .3);
$shadow2: 0 $basePixel / 2 $basePixel / 2 - 1 0 rgba(0, 0, 0, .2);
$shadow3: 0 $basePixel $basePixel - 1 0 rgba(0, 0, 0, .1);
// animation
$duration1: 0.125s;
$duration2: 0.25s;
$duration3: 0.375s;
$easingAcceleration: cubic-bezier(0.4, 0.0, 1, 1);
$easingStandard: cubic-bezier(0.4, 0.0, 0.2, 1);
$easingSharp: cubic-bezier(0.4, 0.0, 0.6, 1);
